<div class="overflow-hidden">
  <div class="max-w-screen-md mx-auto">
    <div class="pb-8 sm:pb-16 md:pb-20 lg:w-full lg:pb-28 xl:pb-32">

      <main class="mt-10 mx-auto max-w-screen-xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="text-center">
          <h2
            class="text-3xl tracking-tight leading-10 font-extrabold sm:text-4xl sm:leading-none md:text-5xl">
            Wikipedia
            <br>
            <span class="text-indigo-600 font-bold">questionnaire generator</span>
          </h2>
          <p class="mt-3 mx-auto text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl md:mt-5 md:text-lg">
            Try out the API for questionaries generation using AI and Neural Language Models.
          </p>

          <div class="mx-auto sm:max-w-xl">
            <input
              class="mt-5 sm:mt-8 bg-gray-800 text-xl text-gray-400 placeholder-gray-600 border-none focus:outline-none focus:shadow-outline border rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
              type="url"
              placeholder="Paste a valid Wikipedia article URL here">
          </div>

          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
            <div class="rounded-md shadow">
              <a href="#"
                class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out md:py-4 md:text-xl md:px-10">
                Ok, let's try it
              </a>
            </div>
          </div>

          <div class="mx-auto sm:max-w-xl mt-5 sm:mt-8">
            <ArticlesSelect></ArticlesSelect>
          </div>
        </div>
      </main>
    </div>
  </div>

</div>
