<li
  role="option"
  class="text-gray-400 cursor-pointer select-none relative py-2 pl-3 pr-9 hover:text-white hover:bg-indigo-600"
  data-test-article-item
  {{on "click" @onSelect}}>
  <div class="flex items-center space-x-3">
    {{!-- Wikipedia icon --}}
    <img src="/assets/wikipedia_w.svg" alt="Wikipedia" class="flex-shrink-0 h-6 w-6 p-1 rounded-full bg-gray-300">

    {{!-- Article title --}}
    <span
      class="{{if @isSelected "font-semibold" "font-normal"}} block truncate">
      {{@article.title}}
    </span>
  </div>

  {{#if @isSelected}}
    <span class="absolute inset-y-0 right-0 flex items-center pr-4">
      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd" />
      </svg>
    </span>
  {{/if}}
</li>
