{{!-- nav bar --}}
<nav class="h-16 max-w-screen-lg mx-auto px-6 pt-2">
  <div class="flex">
    <LinkTo @route="home"
      class="flex items-center pl-2 pr-3 py-1 text-xs leading-normal font-medium rounded-full text-white bg-indigo-800 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out">
      <img src="/assets/triangle-left.svg" alt="Wikipedia" class="flex-shrink-0 h-4 w-4">
      Back to home
    </LinkTo>
  </div>
</nav>

{{!-- main content --}}
<main class="max-w-screen-lg mx-auto">
  {{!-- Two columns --}}
  <div class="lg:flex lg:space-x-8">
    {{!-- Left Panel --}}
    <div class="lg:w-1/2 px-6">
      {{!-- article --}}
      <article>
        <h1 class="text-2xl font-bold mb-2 flex items-center space-x-3">
          <img src="/assets/wikipedia_w.svg" alt="Wikipedia" class="flex-shrink-0 h-8 w-8 p-1 rounded-full bg-white">
          <span>Artificial Inteligence</span>
        </h1>
        <p class="text-sm font-normal text-gray-500 mb-2">Extracted paragraphs from the article URL</p>
        <p class="my-4 border-l-4 border-gray-700 px-6 py-4 text-gray-500 text-justify hover:bg-gray-800 cursor-pointer rounded-r-lg">
          Do excepteur consectetur non qui aute. Do nostrud veniam reprehenderit consequat labore proident sit velit
          adipisicing sit amet nulla ut aliquip. Aliqua occaecat exercitation est ea reprehenderit labore eiusmod veniam. Eu
          ad ad officia officia. Duis ex esse deserunt labore mollit eu consequat.</p>
        <p class="my-4 border-l-4 border-indigo-600 px-6 py-4 text-justify hover:bg-gray-800 cursor-pointer rounded-r-lg">
          Ex tempor nostrud dolor reprehenderit aliquip quis amet ad minim Lorem ex. Aliquip incididunt Lorem nulla
          reprehenderit mollit occaecat labore fugiat excepteur elit et laboris. Cillum ullamco nulla aute qui aliqua mollit
          quis adipisicing fugiat ea mollit fugiat. Aliqua est ea incididunt irure proident adipisicing laborum qui cillum
          laborum Lorem laborum nisi elit. Magna dolor eiusmod qui fugiat et incididunt qui in ullamco exercitation sunt qui
          ex commodo. Cupidatat elit pariatur eu est incididunt aliquip voluptate excepteur magna cillum commodo officia velit
          aliqua. Velit elit reprehenderit est qui et elit enim.</p>
        <p class="my-4 border-l-4 border-gray-700 px-6 py-4 text-gray-500 text-justify hover:bg-gray-800 cursor-pointer rounded-r-lg">
          Magna reprehenderit velit reprehenderit laboris nostrud pariatur. Culpa ad voluptate magna voluptate cupidatat ut
          dolor proident aliqua minim consectetur. Culpa fugiat laboris ullamco aliqua duis proident aliqua esse. Fugiat
          cillum nostrud sunt sint deserunt pariatur ullamco. Ipsum enim id enim in amet mollit deserunt do sunt eiusmod magna
          aute nisi.</p>
        <p class="my-4 border-l-4 border-gray-700 px-6 py-4 text-gray-500 text-justify hover:bg-gray-800 cursor-pointer rounded-r-lg">
          Do quis occaecat sunt aliquip adipisicing non in sint eu duis veniam nostrud. Cillum aliqua nulla consequat et anim
          nostrud ut aliquip et deserunt qui adipisicing sit. Deserunt consectetur do proident proident labore. Officia nisi
          nisi esse ea commodo tempor et. Duis pariatur amet in laborum voluptate incididunt veniam esse velit occaecat fugiat
          dolore. Magna duis sint nostrud ex velit cupidatat aute sint ea ad. Non labore sunt nostrud ullamco enim pariatur
          cupidatat pariatur quis proident sunt aute aliqua occaecat.</p>
      </article>
    </div>

    {{!-- Right Panel --}}
    <div class="lg:w-1/2 px-6">
      <h1 class="text-2xl font-bold mb-2 flex items-center space-x-3">
        <img class="w-8 h-8" src="/assets/help-with-circle.svg" alt="Question">
        <span>Generated Questions</span>
      </h1>
      <p class="text-sm font-normal text-gray-500 mb-2">Each of these questions and answers were generated based on the selected paragraph from the left panel.</p>

      <div class="text-center py-4 lg:px-4 mb-4">
        <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none rounded-full flex lg:inline-flex"
          role="alert">
          <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">Tip</span>
          <span class="font-semibold mr-2 text-left flex-auto text-sm">
            Try using different language models
          </span>
        </div>
      </div>

      {{!-- Questionnaire --}}
      <div class="bg-gray-800 shadow overflow-hidden rounded-lg mb-8">
        <div class="px-4 py-5 sm:px-6">
          <h2 class="text-lg leading-6 font-bold text-indigo-300 text-justify">
            Cual de las siguientes opciones es válida?
          </h2>
          <ul class="mt-4 px-6">
            <li class="flex items-center space-x-2">
              <img class="w-4 h-4" src="/assets/thumbs-up.svg" alt="Thumbs-Up">
              <span>Respuesta Correcta</span>
            </li>
            <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
            <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
            <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
          </ul>
        </div>
      </div>

      <div class="bg-gray-800 shadow overflow-hidden rounded-lg mb-8">
        <div class="px-4 py-5 sm:px-6">
          <h2 class="text-lg leading-6 font-bold text-indigo-300 text-justify">
            Cual de las siguientes opciones es válida?
          </h2>
          <ul class="mt-4 px-6">
            <li class="flex items-center space-x-2">
              <img class="w-4 h-4" src="/assets/thumbs-up.svg" alt="Thumbs-Up">
              <span>Respuesta Correcta</span>
            </li>
            <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
            <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
            <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
