{{#if @correct}}
  <li class="flex items-center space-x-2">
    <img class="w-4 h-4" src="/assets/thumbs-up.svg" alt="Thumbs-Up">
    <span>Respuesta Correcta</span>
  </li>
{{else}}
  <li class="pl-6 text-gray-500">Respuesta Incorrecta</li>
{{/if}}
