{{#if @correct}}
  <li class="flex items-center space-x-2 pt-2">
    <img class="w-4 h-4" src="/assets/thumbs-up.svg" alt="Thumbs-Up">
    <span>{{@text}}</span>
  </li>
{{else}}
  <li class="pl-6 text-gray-500 pt-2">
    <span
      title="Similarity to the correct answer"
      class="similarity">{{round @similarity decimals=3}}</span>
    <span>{{@text}}</span>
  </li>
{{/if}}
