<nav class="h-16 max-w-screen-lg mx-auto px-6 pt-2">
  <div class="flex">
    <LinkTo @route="home"
      class="flex items-center pl-2 pr-3 py-1 text-xs leading-normal font-medium rounded-full text-white bg-indigo-800 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition duration-150 ease-in-out">
      <img src="/assets/triangle-left.svg" alt="Wikipedia" class="flex-shrink-0 h-4 w-4">
      Back to home
    </LinkTo>
  </div>
</nav>
