<article>
  <h1 class="text-2xl font-bold mb-2 flex items-center space-x-3">
    <img src="/assets/wikipedia_w.svg" alt="Wikipedia" class="flex-shrink-0 h-8 w-8 p-1 rounded-full bg-white">
    <span>{{@title}}</span>
  </h1>

  <p class="text-sm font-normal text-gray-500 mb-2">Extracted paragraphs from the article URL</p>

  {{!-- Paragraphs --}}
  <div class="article-paragraphs">
    {{#each @paragraphs as |item index|}}
      <p role="button"
        class="paragraph {{if (eq @selectedParagraph index) "paragraph-active"}}"
        {{on "click" (fn @onSelectParagraph index)}}>
        {{item.paragraph}}
      </p>
    {{/each}}
  </div>
</article>
