<div class="mt-12 mx-12">
  <div class="note transform -rotate-1">
    <h2 class="note-title">How to generate questions?</h2>
    <p class="note-text">
      Simply <span class="font-bold text-yellow-700">click on any of the paragraphs</span>
      from the left and wait for the generation of multiple choice questions
      related to the selected context.
    </p>

    <p class="note-text italic">
      <span class="font-bold">Tip:</span>
      You can change the set of models used (2 for now), T5 for distractors
      or GPT-2 that generate more creative distractors.
    </p>
  </div>
</div>
